@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:ital,wght@1,300&display=swap");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

header {
  flex-shrink: 0;
}

/* ===== Header Styles ===== */
header nav.navbar {
  background-color: rgb(143, 138, 138);
  color: #5A5A5A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header nav.navbar a {
  text-decoration: none;
  color: navy;
  font-size: 18px;
  margin-right: 10px;
}

header nav.navbar .logo a {
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}

header nav.navbar .signup-button {
  background-color: navy;
  color: cornsilk;
  border: none;
  padding: 10px 20px;
  margin-left: auto;
  cursor: pointer;
}

/* ===== Main Content Styles ===== */
.main-container {
  padding: 20px;
  background-image: url('./img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}

.main-body-container {
  background-image: url('./img/vladimir-anikeev-IM8ZyYaSW6g-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.main-title {
  font-size: large;
}

.content-container {
  background-image: url('./img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ===== Card Styles ===== */
.card {
  background-color: lightgrey;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  max-height: 525px;
  overflow: auto;
}

.card img,
.card h3,
.card p {
  flex-grow: 1;
}

.card img {
  max-width: 150px;
  max-height: 150px;
}

.card .see-more-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ===== Footer Styles ===== */
footer {
  background-color: rgb(65, 78, 61);
  color: #5A5A5A;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  flex-shrink: 0;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.footer-button {
  flex: 1;
  background-color: navy;
  color: cornsilk;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 5px;
}

/* ===== Title Section Styles ===== */
.title-section {
  background-color: #597477;
  padding: 20px;
  text-align: center;
}

.title-section h1 {
  font-size: 50px;
  color: lightgray;
  margin-bottom: 10px;
}

.title-section p {
  font-family: "Raleway", sans-serif;
  font-size: large;
  color: lightgray;
  margin-bottom: 20px;
}

/* ===== Signup Section Styles ===== */
.signup {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 50px auto 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup form, .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: navy;
  color: cornsilk;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

/* ===== Responsive Styles ===== */
@media (max-width: 720px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
