@import './scss/colours.scss';
@import './scss/fonts.scss';

body {
    background-color: $black;
    color: $orange;
    font-family: $bodyFont;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: $white;
    justify-content: space-around;
    .col {
        font-size: 48px;
        p {
            color: $black;
            a {
                color: $orange;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    color: $gray;
                }
            }
        }
    }
    @media only screen and (max-width: 728px)  {
        flex-direction: column;
    }
}