:root {
    font-size: 24px;
}

body {
    background-color: black;
    color: white;
}

h2 {
    color: aqua;
    font-size: 1.5rem;

}

.title2 {
    color: pink;
    font-size: 1.5em;
}

#thetitle {
    color: chartreuse;
    font-size: 1.5em;
}

h2.title2#thetitle {
    color: bisque;
}

h2 .title2 #thetitle {
    color: blanchedalmond;
}

.rectangle {
    background-color: rgb(212,111,23);
    height: 50vh;
    width: 75vw;
}