@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


:root {
    font-size: 24px;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 82px;
}

h2 {
    color: aqua;
    font-size: 1.5rem; /*  36px */
}

.title2 {
    color: pink;
    font-size: 1.5em; /* 54px */
}

#thetitle {
    color: chartreuse;
    font-size: 1.5em; /* 81px */
}

h2.title2#thetitle {
    color: bisque;
}
h2 .title2 #thetitle {
    color: blanchedalmond;
}

.rectangle {
    background-color: green;
    height: 100px;
    width: 100px;
    position: relative;
    top: 25px;
    left: 25px;
}

.sq1 {
    background-color: beige;
    height: 350px;
    width: 350px;
    position: relative;
}
.sq2 {
    background-color: blue;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.sq3 {
    background-color: brown;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.sq4 {
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 25px;
    left: 25px;
}