.square-A {
    background-color: aqua;
    height: 750px;
    width: 750px;
}
.square-B {
    background-color: blue;
    height: 50%;
    width: 50%;
}
.square-C {
    background-color: blueviolet;
    height: 50%;
    width: 50%;
}
.square-D {
    background-color: brown;
    height: 50%;
    width: 50%;
}