#rectangle {
    background-color: blue;
    height: 150px;
    width: 350px;
}
.square {
    background-color: green;
    height: 150px;
    width: 150px;
    position: relative;
    border: solid black;
}
.innersquare {
    background-color: blue;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid black;    
}
